<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidoss!!</title>
</head>

<body>
    <h1>¡Bienvenidos al sistema de gestión de tareas con API y Base de datos!</h1>
    <h2> CAPTURAS DE PRUEBA</h2>
    <h3>Resistro</h3>
    <img src="{{ url_for('static', filename='capturas/registro-exitoso.jpg') }}" width="800">

    <h3>Login</h3>
    <img src="{{ url_for('static', filename='capturas/login-exitoso.jpg') }}" width="800">

    <h3>Tareas</h3>
    <img src="{{ url_for('static', filename='capturas/HTML-tareas.jpg') }}" width="800">


    <br>
    <br>
    <h2>Respuestas</h2>
    <h3>¿Por qué hashear contraseñas?</h3>
    <p>Es una medida de seguridad para proteger la información sensible del usuario. Al aplicar un algoritmo de hashing, la contraseña se transforma en un valor irreconocible. Así, aunque alguien aceda a la base de datos, no podrá ver las contraseñas reales.</p>

    <h3>Ventajas de usar SQLite</h3>
    <p>SQLite es ideal para proyectos pequeños y locales porque es liviano, no necesita servidor y es fácil de usar y fácil de configurar. Además, su integración con Python es directa y rápida. Guarda los datos en un archivo -db que puede moverse fácilmente.</p>
</body>

</html>